html {
	height: 100%
}

body {
	font-family: 'Patrick Hand SC', cursive;
	background-image: url("../images/page-background.png");
}

.mainheader {
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
  border-bottom: solid #ccc 1px;
	line-height: 63px;
	overflow-x: hidden;
}
.headerinside {
	width: 960px;
	display: flex;
	justify-content: space-between;
}
.headernav {
	display: inline-block;
	position: relative;
	top: 10%;
}
.headerul {
	display: flex;
	justify-content: flex-end;
}
.headerli {
	list-style-type: none;
	padding: 10px;
	font-size: 20px;
	/* margin: 10px; */
}
.headerli a {
	float: right;
	text-decoration: none;
	color: #c5d1d0;
}
.headerli:hover {
	background-color: #4ba9a5;
	color:white;
}
.middleli {
	border-left: 1px solid rgb(228, 221, 221);
	border-right: 1px solid rgb(228, 221, 221);;
}

h1 {	
	font-family: 'Permanent Marker', cursive;
	color: #4ba9a5;
	font-size: 20px;
}
p {
	/* line-height: 1.5px; */
	font-size: 20px;
	color: #222;
}
section {
	border-radius: 1px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
  border: solid #ccc 1px;
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.nametab {
	background-color: #4ba9a5;
	color: white;
	line-height: 63px;
	padding: 20px;
	width: 20%;
	display: inline-block;
	text-align: center;
}
.myface {
	width:200px;
	height:220px;
	float: left;
	padding-right: 20px;
}
.contentinside {
	overflow: auto;
	min-height: 100%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width:	960px;
}
.mainsection {
	width: 608px;
	float: left;
	background-color: #ffffff;
	padding: 20px;
	margin-right: 40px;
}
.sidebar {
	width: 228px;
	float: right;
	background-color: #ffffff;
	padding: 20px;
}
.socialicon {
	width: 70px;
	height: 70px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.inputfull {
	width: 100%;
	height: 35px;
	font-size: 20px;
	margin: 10px 0px 10px 0px;
	padding-left: 5px;
}

textarea {
	width: 100%;
}

.btnsubmit {
	padding: 10px;
	background-color: #4ba9a5;
	color: #ffffff;
}

.portfolioimages {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	/* margin:auto; */
}

.individualimage {
	width: 290px;
	height: 200px;
	margin: 10px 0px 10px 0px;
}

.imagewrap {
	position: relative;
}

.imagewrap span {
	position: absolute;
	top: 70%;
	background-color: #4ba9a5;
	line-height: 40px;
	width: 100%;
	text-align: center;
}

footer {
	position:absolute;
	bottom:0;
	width: 100%;
	text-align: center;
	background-color: #666666;
	color: #a7a9bb;
	right: 0;
	left: 0;
	height: 63px;
	border-top: 10px solid #4ba9a5;
	line-height: 63px;
}